header {
  height: 100vh;
  min-height: 1000px;
  background-image: linear-gradient(to bottom, #0097b2b9, rgba(255, 255, 255, 0.651)), url("../img/hero\ cabinet\ stomatologic.jpg");
  position: relative;
}

.header-small {
  height: 80vh;
}

.c-header {
  height: 100%;
  padding-top: 45rem;
}

.c-header-services {
  height: 100%;
  padding-top: 35rem;
}

@media screen and (min-width: 992px) {
  .c-header {
    padding-top: 32rem;
  }

  .c-header-services {
    height: 100%;
    padding-top: 15rem;
  }
}

.img-hero {
  width: 60%;
  height: auto;
}
